@media screen and (max-width: 480px){

body{
    font-size:15px;
}


#container{
    overflow:auto;
    margin:0 auto;
    width:100%;
    background-color:#666633;
    
}
#header {
    height:100px;
   
    background-color:#666600;
  
   
}
#header_logo {
   width:150px;
   
   
}
#header_content {
   
   display:none;
   
}
#navigation{
    width:100%;
    background-color:#666633;
    
}
#navigation ul {
     margin:0px;
     padding:0px;
     list-style:none;
}
#navigation ul li {
     
}
#navigation ul a {
    display:block;
    padding:6px;
    width:100%;
    font-family:georgia;
    font-size:16px;
    text-decoration:none;
    text-indent:20px;
    
    border-bottom:2px solid #663300;
    color:#fff;
    background-color:#666633;
    background-image:url(../pics/sprite.png);
    background-repeat:no-repeat;
    
}
#navigation ul a:hover{
    background-color:#663333;
    background-image:url(../pics/sprite.png);
    background-repeat:no-repeat;
    background-position:0px -48px;
}

#navigation ul li .active {
   background-color:#660000; 
    
}
#content {
    width:100%;
    background-color:#666633;
}

#footer {
    height:60px;
    background-color:#666633;
    margin-top:10px;
    border-top:1px dashed #000;
}
#footer p {
    text-align:center;
    margin-top:12px;
}

/* Formulär på kontaktsidan */
fieldset {
    width:300px;
    padding:20px 0 20px 50px;
    border:1px solid #000;
    margin-left:15px;
}
legend {
    background-color:#666600;
    
}
.input{
    padding:5px;
    margin-left:5px;
    margin-top:3px;
}
.submit{
    width:50px;
    height:40px;
    padding:1px;
    margin-top:6px;
    margin-left:15px;
    border:1px solid #FFF;
    background-color:#666600;
}

p {
    font-size:14px;
    line-height:15px;
    margin:0 5px 0 0;
    padding:8px;
}

.kont{
    margin-top:10px;
}

hr {
    display:none;
}

table {
    width:400px;
    
}
table > thead {
    text-align:left;
}

h3{
    text-decoration:underline;
    margin-left:10px;
}
dl {
    margin-left:10px;
}
img { 
    max-width: 100%;
    margin-left:10px;
    
}
video {
    max-width:90%;
}

.full_lank{
    display:none;
}
.icon{
    float:left;
}

.postauthor{
    font-style:italic;
    margin-top:6px;
}
.img_left{
   
  
}

}