/*
Mina färger
Container, content, navigation - #666633
Header, Footer - #666600
Borders - #663300
Länkar - #fff
Active link - #660000
*/

* {
    margin:0;
    padding:0;
}
  
body {
    
 
}

/*De stora blocken */

#container{
    margin:0 auto;
    width:1100px;
    border:2px solid #663300;
    background-color:#666633;
    
}

#header {
    height:110px;
    background-color:#666600;
    border-bottom:2px solid #663300;
   
}
#header_logo {
    float:left;
    width:150px;
    background-image:url(../pics/logo_trans.png);
    background-repeat:no-repeat;
    
}
#header_content {
    float:left;
    width:500px;
   
}

#navigation{
    width:200px;
    float:left;
    background-color:#666633;
    
}
#content {
    width:868px;
    float:left;
    padding:15px;
    background-color:#666633;
    border-left:2px solid #663300;
    
}

#footer {
    clear:both; 
    height:60px;
    border-top:2px solid #663300;
    background-color:#666600;
}
#clear {
    clear:both;
}

/* Menyn */

#navigation ul {
     margin:0px;
     padding:0px;
     list-style:none;
}
#navigation ul li {
     
}
#navigation ul a {
    display:block;
    padding:4px;
    width:200px;
    font-family:georgia;
    text-decoration:none;
    border-bottom:2px solid #663300;
    color:#fff;
    background-color:#666633;
    
}
#navigation ul a:hover{
    background-color:#663333;
}

/*Klasser */

#navigation ul li .active {
   background-color:#660000; 
    
}
.postauthor{
    text-align:right;
    font-style:italic;
}
.top_h1 {
    margin-top:15px;
    margin-right:10px;
}

.icon{
    float:left;
}

.img_right{
    
}
/*Typografi på sidan */

h1 {
    font-size:26px;
    font-family:Georgia, sans-serif;
    
}
h2 {
    font-size:24px;
    font-family:Georgia, sans-serif;
    
}
h3 {
    font-size:18px;
    font-family:Georgia, sans-serif;
    padding:5px;
    
}
a {
    text-decoration:none;
    font-style:bold;
    color:#fff;
}
p{
    font-size:14px;
    font-family:Georgia;
    padding:10px;
}