/*
Mina färger
Container, content, navigation - #666633
Header, Footer - #666600
Borders - #663300

*/

* {
    margin:0;
    padding:0;
}
  
body {
 
}

/*De stora blocken */

#container{
    margin:0 auto;
    width:1100px;
    border:2px solid #663300;
    background-color:#666633;
    
}

#header {
    height:200px;
    background-color:#666600;
    border-bottom:2px solid #663300;
    
}

#navigation{
    width:200px;
    float:left;
    background-color:#666633;
    
}
#content {
    width:868px;
    float:left;
    padding:15px;
    background-color:#666633;
    border-left:2px solid #663300;
    
}

#footer {
   clear:both; 
    height:100px;
    border-top:2px solid #663300;
    background-color:#666600;
}
