{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":4},"end":{"row":0,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"2cf37f4de9a79e67f372182e185b19b1dc95d179","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1409755729566}